
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 24px;
}

/* Barra styling */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background-color: #000000;
  /* border-radius: 10px; */
}

/* este es el pinto com tal que movemos. */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #4b8e8d;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.menu-wrapper {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.fas {
  font-size: 12px;
  margin-right: 5px;
  margin
}

.date, .grid-p {
  color: #4b8e8d;
}

.location {
  color: #4b8e8d
  padding-top: 10px;
}


.menu-wrapper {
  font-size: 15px;
  position: fixed;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.menu-wrapper a:hover {
  text-decoration: underline;
}

.menu-wrapper a:active {
  color: black;
}

.menu-wrapper a:visited {
  color: black;
}

.icon-footer a:active {
  color: white;
}

.icon-footer a:visited {
  color: white;
}

/* All a have names. so the no name styling will apply for the rest */

 a:active {
  color: #4b8e8d;  
}
 a:visited {
  color: #4b8e8d;  
}

/* este seria el equivalente al body de la apgina */

.container {
/* general margin  that keeps everything small and align*/
  display: grid;
  grid-template-areas: 
"h"
"p"
"e"
"a"
"c"
;
  grid-template-rows: [header]730px [profile]720px [experiences]1600px [abilities]1020px [contact] 500px ;  
  grid-template-columns: 1fr ; 
  grid-gap: 10px;
  /* background-color: gray; */
  justify-content: center;
  align-content: center;
}

/* titulo vive dentro del general container 
y se alinea con nested cumpliando con las mismas divisiones de columnas.
*/

.header {
  grid-area: h;
  display: grid;
/* grid-template-rows: 40px; */
  grid-template-columns: 1fr;
  background-color: #000000;
  justify-content: center;
  align-content: center;
  padding: 30px;
  /* background-image: radial-gradient(white, #cddd9c);
  background-color: #cddd9c;  */
}

.hr-header{
margin-top: 15px;
margin-bottom: 20px;
text-align: center;
margin-right: 300px;
margin-left: 300px;
opacity: 35%;
}

.header-title {
  color: white;
  /* color: #4b8e8d; */
  font-size: 24px;
  text-align: center;
  font-family: 'open sans';
}

.header-p {
  font-size: 24px;
  text-align: center;
  color: gray;
  opacity: 50%;
}


/* ihpone X resolution  no esta funcionando*/
@media only screen and (max-width: 375px) {
  .container {
    /* general margin  that keeps everything small and align*/
      display: grid;
      grid-template-areas: 
    "h"
    "p"
    "e"
    "a"
    "c"
    ;
      grid-template-rows: [header]730px [profile]720px [experiences]1600px [abilities]1020px [contact] 500px ;  
      grid-template-columns: auto ; 
      grid-gap: 10px;
      /* background-color: gray; */
      justify-content: center;
      align-content: center;
    }


    .menu-wrapper {
      display: none;
    }

    /* no fuciona no estoy seguro porque */
  /* .header-title {
    font-size: 14px;
    text-align: center;
  }
  .header-p {
    font-size: 14px;
    text-align: center;
  } */
}

/* editando el titulo en general */
@media only screen and (max-width: 878px) {
  .hr-header {
   margin-right: 200px;
   margin-left: 200px;
  }
}
@media only screen and (max-width: 1078px) {
   .hr-header {
    margin-right: 200px;
    margin-left: 200px;
   }
 }

/* 562x530  sub title reducir tamano. */
@media only screen and (max-width: 700px) {
  .header-title {
     font-size: 24px;
   }
   .header-p {
     font-size: 20px;
   }

   .hr-header {
    margin-right: 200px;
    margin-left: 200px;
   }
 }

 /* QUERIES OARA PROFILE */

 @media only screen and (max-width: 600px) {
.profile {
/* no logramos que nada funcionara aqui */
}

}

  /* section 2 profile  */
.profile {
  grid-area: p;
  display: grid;
  grid-template-columns: 266.66px 266.66px 266.66px;
  align-items: start;
  /* Este es el estos dos a continuacion deberia mantener el contenido centrado en toda la pagina en conjutno con la sotras secciones */
  justify-content: center;
  /* Aqui porque estamos alineando el cuadrado en el container. no cada uno de los elementos asi puede empezar */
  align-content: center; 
  padding: 30px;
  /* margin-bottom: 120px; */
}

.profile-sub {
  grid-column: 1/3;
}

.sub-title-profile {
  font-size: 18px;
}

.sub-title-profile-3 {
  margin-top: 40px;
  font-size:18px;
  font-weight: bold;
  line-height: 25px;
}

.profile-title {
  
  margin-bottom: 20px;
  grid-column : 1 / 4;  
  padding: 7px;
  font-size: 54px;
  /* utiilzando text align podemos mantener la estructura del recuadro. */
  text-align: center;
  font-weight: lighter;
  }

/* .grid-p {
  padding: 20px;
  background-color: white;
} */

#details-title {
  font-weight: lighter;
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 35px;
}

/* Details styling */
.sub-title-size {
  font-size: 15px;
  text-align: left;
  line-height: 24px;
  margin-left: 35px;
}

/* par ala mayoria de los subtitulos */
.all-sub-titles {
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 10px;
}


/* each section  prhase*/
.phrase {
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}

/* raya ubicada en demas secciones de la pagina */
.hr-ex {
  grid-column : 1 / 3;
  margin-top: 20px;  
  margin-bottom: 40px;
  opacity: 50%;
}

/* raya que esta ubicada en habilidades */
.hr-abilities {
  grid-column : 1 / 5;
  margin-top: 20px;  
  margin-bottom: 10px;
  opacity: 50%;
  
}

.Abilities-title {
  margin-bottom: 20px; 
  color: #4b8e8d;
}
.e-wrapper {
  grid-area: e; 
  display: grid;
  grid-template-columns: 400px 400px ;
  background-color:#f3efe0;
  align-items: start;
  justify-content: center;
  align-content: start; 
  padding: 30px;
}


/* las medidas de todos los titulos de cada secion: abilities, expreinces etc.  */
.section-title {
  margin-top: 40px;
  grid-column : 1 / 3;  
  padding: 7px;
  font-size: 54px;
  /* utiilzando text align podemos mantener la estructura del recuadro. */
  text-align: center;
  font-weight: lighter;
  line-height: 60px;
  /* margin-bottom: 200px; */
}

.profile-title {
  /* margin-top: 15px; */
  grid-column : 1 / 4;  
  font-size: 54px;
  /* utiilzando text align podemos mantener la estructura del recuadro. */
  text-align: center;
  font-weight: lighter;
}

.hr-pro{
  opacity: 50%;
  grid-column : 1 / 4;
  margin-top: 20px;  
  margin-bottom: 40px;  
}

img {
  width: 200px;
  height: 200px;
}

.profile-img {
  text-align: center;
}

.about-text {
font-size: 15px;
color: black;
}
.experiences-title  {
  margin-bottom: 20px;
  color: #4b8e8d
}


/* Start style expreinces*/

/* wrapper que agarra cada educacion y la separa */
.e-left-col {
  text-align: left;
  margin-bottom: 30px;
}

.right-col-subtitle {
  margin-bottom: 10px;
  font-size: 15px;
  
}

.left-col-subtitle {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.right-col-p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}

.e-left-col-title {
  font-weight: lighter;
  font-size: 24px;
  color: #4b8e8d
}

/* end style expreinces*/

/* abilities wrapper */

.a-wrapper {
  grid-area: a; 
  display: grid;
  grid-template-columns: 200px 200px 200px 200px ;
  align-items: start;
  justify-content: center;
  align-content: start; 
  padding: 30px;
  line-height: 30px; 
}

#a-title {
  margin-bottom: 20px;
  grid-column : 1 / 5;  
  padding: 7px;
  font-size: 54px;
  text-align: center;
  font-weight: lighter;
}

/* Sub-titulos - experiences */
.edu-sub-titles {
  padding: 0;
  margin-left: 0;
  margin-bottom: 30px;
  grid-column : 1 / 3;  
  font-size: 24px;
  text-align: left;
  font-weight: lighter;
  color: #4b8e8d;
}

#a-sub-title {
  padding: 0;
  margin-left: 0;
  margin-bottom: 3px;
  grid-column : 1 / 5;  
  font-size: 24px;
  text-align: left;
  font-weight: lighter;
  color: #4b8e8d
}

/* alineacion columnas skills */
.a-col-right {
  text-align: right;
}

/* el que toca la columna central */
.a-col-right-first{
  /* margin-right: 50px; */
  text-align: right;
  
}

.a-col-left {
  text-align: left;
  margin-left: 40px;
}


.c-wrapper {  
  color: white;
  grid-area: c; 
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 390px 160px 280px ;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  line-height: 30px; 
  background-color:#000000;
  /* padding-bottom: 480px; */
}

/* creo que lcoation icon */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#c-title {
  /* margin-top: 60px; */
  background-color: #000000;
  grid-column : 1 / 2;  
  grid-row: 1 / 4; 
  font-size: 54px;
  text-align: left;
  font-weight: lighter;
  line-height: 55px;
}

.c-sub-title {
  /* margin-top: 60px; */
  grid-column : 1 / 4;  
  font-size: 24px;
  text-align: left;
  font-weight: lighter;
}

.letstalk {
  letter-spacing: 3px;
}

.icoLinkedin {
color: white;
padding:0;
margin: 0;
grid-column : 1 / 4;  
justify-content: left;
}

/* este es el fa de twitter */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:white;
}

.fa-envelope {  
  border-radius: 50%;
  color:white;
  width: 14%;
  padding: 23px;
  font-size:24px;
  background-color: #4b8e8d;
  margin-bottom: 20px;
}

.description-icons-footer {
  padding-bottom: 30px;
}

.fa-twitter {
  background-color: #4b8e8d;
  color: white;
  margin-left: 0;
  margin-bottom: 20px;
}

.fa-linkedin {
  background-color: #4b8e8d;
  color: white;
}

/* .icon-description {
  margin-top: 20px;
} */


span {
  font-size:14px;
}


/* ANIMACION DE LA FLECHA */
/* ANIMACION DE LA FLECHA */
/* ANIMACION DE LA FLECHA */

@bg: #2d2d37; // Dark blue
@primary: #fd6b21; // Orange

body { background: @bg;}
a { color:#4b8e8d; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 2% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}